/* yo cambio el comentario tuyo aver que pasa*/
/* esto es otro comentario */
.numero{
	background: #5555BB;
}
body {
	background: url(../img/fondoPantalla.jpg);
}

table{
	border-collapse: collapse;
	border-spacing: 0px;
	
}
/* Comentario input */
input{
	width: 60px; height: 60px;
}
#cuadroDigitos{
	width: 240px;
}
.doble{
	width: 120px;
}
.signo{
	background: #FF5522;
}

.signo,.numero{
	color: #FFFFFF;
}